{% extends 'base.html.twig' %}
{% block title %} Олайниии {% endblock %}
{% block body %}
    <div class="container overflow-hidden">
        <div class="row ">
            <table class="table table-dark">
            {% for blog in blogs %}
                <div class="col-md-6">

                    <div class="col-10">
                        <div class="p-3 border bg-light">

                            <strong class="d-inline-block mb-2 text-success">{{ blog.author }}</strong>
                            <h3 class="mb-0">{{ blog.name }}</h3>
                            <div class="mb-1 text-muted">{{ blog.date }}  {{ blog.time }}</div>
                            <p class="mb-auto">{{ blog.textShort }}</p>
                            <a href="{{ url('index_detail',{id: blog.id})}}" >Continue reading</a>
                            <a href="{{ url('index_delete',{id: blog.id})}}">Удалить</a>
                        </div>
                    </div>

                </div>
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

{# <div class=""> #}
{#    <div class=""> #}
{#        <div class=""> #}
{#            <div class="p-3 border bg-light">Custom column padding</div> #}
{#        </div> #}
{#        <div class="col-6"> #}
{#            <div class="p-3 border bg-light">Custom column padding</div> #}
{#        </div> #}
{#        <div class="col-6"> #}
{#            <div class="p-3 border bg-light">Custom column padding</div> #}
{#        </div> #}
{#        <div class="col-6"> #}
{#            <div class="p-3 border bg-light">Custom column padding</div> #}
{#        </div> #}
{#    </div> #}
{# </div> #}
